
@{
    if (Request.Cookies["cookie"] != null)
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
    else
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<style type="text/css">
    td.submitWrapper {
        text-align: center;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    function ChangeSubtotal(id) {
        var PriceId = "Price" + id;
        var SubtotalId = "Subtotal" + id;
        var Count = document.getElementById(id).value;
        var Price = document.getElementById(PriceId).value;
        var Total = (parseInt(Count) * parseInt(Price)).toString();
        document.getElementById(SubtotalId).innerHTML = Total;
    }
    function calc(id) {
        var PriceId = "Price" + id;
        var SubtotalId = "Subtotal" + id;
        var QuantityId = "Quantity" + id;
        var myformId = "myform" + id;
        var Count = document.getElementById(id).value;
        var Price = document.getElementById(PriceId).value;
        var Total = (parseInt(Count) * parseInt(Price)).toString();
        var Quantity = document.getElementById(QuantityId).value
        if (Count > 0) {
            if (parseInt(Count) > parseInt(Quantity)) {
                alert("數量大於庫存");
                document.getElementById(id).value = "";
            } else {
                document.getElementById(SubtotalId).innerHTML = Total;
                document.getElementById(myformId).submit();
            }
        } else {
            alert("輸入數字");
            document.getElementById(id).value = "";
        }
    } </script>

<div style="text-align:center;">
    <h1>結帳</h1>
</div>
<div class="register-content">
    <table cellpadding="10" align="center">
        @{
            Random rd = new Random();
            string Order_ID = DateTime.Now.ToString("MMddyyyy") + ViewBag.result[0].Customer_Email + rd.Next(100, 999).ToString();
        }
        @for (int i = 0; i < ((List<Model.ShippingCar>)ViewBag.result).Count; i++)
        {
            string Price = ViewBag.result[i].Book_Price;
            string PriceId = "Price" + i;
            string SubtotalId = "Subtotal" + i;
            int Quantity = ViewBag.result[i].Book_Quantity;
            string QuantityId = "Quantity" + i;
            string Book_ID = ViewBag.result[i].Book_ID;
            string myform = "myform" + i;
            <tr>
                <td rowspan="5">
                    <img src="@ViewBag.result[i].Book_Img">
                </td>
                <td>書名：@ViewBag.result[i].Book_Name</td>
                @using (Html.BeginForm("Delete", "ShoppingData", FormMethod.Post))
                {
                    @Html.Hidden("Book_ID", Book_ID);
                    <td rowspan="5">
                        <input type="image" src="http://findicons.com/files/icons/77/icandy_junior_toolbar/128/delete.png" onClick="document.formname.submit()">
                    </td>
                }
            </tr>
            <tr>
                <td>價格：@ViewBag.result[i].Book_Price</td>
            </tr>

            <tr>
                <td>
                    <form method="post" action="~/ShoppingData/InsertBook_Quantity" id=@myform>



                        數量：
                        <input id="@i" onchange="calc(this.id)" type="text" value="@ViewBag.result[i].Order_Quantity" name="GetOrder_Quantity">
                        <input type="hidden" name="Book_ID" value="@Book_ID" />
                        <input type="hidden" name="Order_ID" value="@Order_ID" />
                        <input type="hidden" name="SubTotal" value="@ViewBag.result[i].Order_Quantity * @ViewBag.result[i].Book_Price">
                        <input type="hidden" name="Book_ID2" value="@i" />

                        @Html.Hidden(i.ToString(), Price, new { @id = PriceId })
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    小計：
                    <span id="@SubtotalId" value="0">@ViewBag.result[i].Book_Price</span>
                </td>
            </tr>
            <tr>
                <td>
                    庫存：@ViewBag.result[i].Book_Quantity
                    @Html.Hidden(i.ToString(), Quantity, new { @id = QuantityId })
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
</div>
<script>
    for (i = 0; i < 2; i++) {
        window.onload = ChangeSubtotal(i);
    }
</script>
<div style="text-align:center;">
    <h1>訂購人</h1>
</div>
<div class="register-content">
    <table style="border:3px #cccccc solid;" cellpadding="10" align="center">


        @using (Html.BeginForm("Insert", "Order", FormMethod.Post))
            {
            <tr>
                <td>
                    姓名：
                </td>
                <td>
                    <input type="text" name="Subscriber_Name" />
                </td>
            </tr>
            <tr>
                <td>
                    E-mail：
                </td>
                <td>
                    <input type="text" name="Subscriber_Email" />
                </td>
            </tr>
                <tr>
                    <td>
                        連絡電話：
                    </td>
                    <td>
                        <input type="text" name="Subscriber_Cellphone" />
                    </td>
                </tr>
                <tr>
                    <td>
                        寄送地址：
                    </td>
                    <td>
                        <input type="text" name="Subscriber_Address" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class='submitWrapper'>
                        <input type="hidden" name="Order_ID" value="@Order_ID" />
                        <input type="submit" name="submit" value="結帳" id="btn">
                    </td>
                </tr>
        }
    </table>
</div>
