@{
    if (Request.Cookies["cookie"] != null)
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
    else
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    function checkAll() {
        if ($("#CheckAll").val() == "全選") {
            $("input[name='DataCheck']").each(function () {
                $(this).prop("checked", true);
                $("#CheckAll").val("取消全選");
            });

        } else {
            $("input[name='DataCheck']").each(function () {
                $(this).prop("checked", false);
                $("#CheckAll").val("全選");
            });
        }

        test(-1);
    }
</script>

<script>

    function test(id) {
        if (id!=-1) {
            if ($("#" + id).prop("checked")) {
                $("#text" + id).prop("readonly", false);
                $("#text" + id).show("slow");
            } else {
                $("#text" + id).prop("readonly", true);
                $("#text" + id).hide("slow");
            }
        } else {
            var i = 0;
            var Count = @Html.Raw(Json.Encode(ViewBag.Count));
            if ($("#" + i).prop("checked")) {
                for (i = 0; i < Count; i++) {
                    $("#text" + i).prop("readonly", false);
                    $("#text" + i).show("slow");
                }
            } else {
                for (i = 0; i < Count; i++) {
                    $("#text" + i).prop("readonly", true);
                    $("#text" + i).hide("slow");
                }
            }
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#Father").show();
        $("#Add_Book").show();
        $("#Book_Management").click(function () {
            $(".Admin_Home").hide("slow");
            $("#AllBooks").show("slow");
            $("#Title").text("商品管理");

        });
        $("#Back").click(function () {
            $("#AllBooks").hide("slow");
            $(".Admin_Home").show("slow");
            $("#Title").text("進銷存管理系統");
            $("#showtd").find("td").each(function () {
                $(this).show();
            });
        });
        ///////////
        $("#PurchaseList").click(function () {
            location.href = "@Url.Action("PurchaseList", "Admin")";
        });
        $("#SaleList").click(function () {
            location.href = "@Url.Action("SaleList", "Admin")";
        });
        $("#Book_Management").click(function () {
            location.href = "@Url.Action("Book_Management", "Admin")";
        });
    });
</script>



<p id="Title" class="Admin_p" align="center">商品管理</p>
<div id="Father" style="position: relative; width: 100%;top:50px;" hidden>
    <!-- 進入首頁-->
    <div style="position: absolute; width:100%;left:30%;" class="Admin_Home" hidden>

        @using (Html.BeginForm("CheckPurchaseBook", "Admin", FormMethod.Post))
        {
            <table id="showtd" class="Admin_Table" border="5" width="70%">
                <tr>
                    <td align="center">選擇書本</td>
                    <td align="center">ISBN</td>
                    <td align="center">書名</td>
                    <td align="center">作者</td>
                    <td align="center">出版社</td>
                    <td height="40px" align="center">售價</td>
                    <td align="center">庫存數量</td>
                    <td width="12%" align="center">進貨數量</td>
                </tr>

                @for (int i = 0; i < ((List<Model.BookData>)ViewBag.GetCertainData).Count; i++)
                {
                    string TestName = "text" + @i;
                    string TttestName = "texttt" + @i;
                    string Book_ID = ViewBag.GetCertainData[i].Book_ID.ToString();
                    <tr>
                        <td align="center">
                            <input type="checkbox" name="DataCheck" value="@ViewBag.GetCertainData[i].Book_ID.ToString()" id="@i" onclick="test(this.id)">
                        </td>
                        <td height="30px" align="center">@ViewBag.GetCertainData[i].Book_ID.ToString()</td>
                        <td>@ViewBag.GetCertainData[i].Book_Name.ToString()</td>
                        <td>@ViewBag.GetCertainData[i].Book_Author.ToString()</td>
                        <td>@ViewBag.GetCertainData[i].Book_Press.ToString()</td>
                        <td align="center">@ViewBag.GetCertainData[i].Book_Price.ToString()</td>
                        <td align="center">@ViewBag.GetCertainData[i].Book_Quantity.ToString()</td>
                        <td align="center">
                            <input type="text" name="GetPurchase" id="@TestName" style="width:50%;text-align:center;height=" 100px"" maxlength="2" readonly hidden />
                            @Html.Hidden("Book_ID", Book_ID)

                        </td>
                    </tr>
                }
            </table>
            <br>


            <div style="position:relative; width:70%; ">
                <div style="position:absolute;left:0px">
                    <input type="button" name="2" class="Admin_btn_Purchase" id="CheckAll" onclick="checkAll()" value="全選" />
                </div>
                <div style="position:absolute;right:0px">
                    <input name="34 " class="Admin_btn_Purchase" type="submit" value="進貨" />
                </div>
            </div>
        }
    </div>
    <!-- 商品管理-->
    <div id="AllBooks" style="position: relative; width: 100%;" class="Admin_AllList">
        <div style="position: absolute; width:100%;left:30%;">
            <div id="Add_Book" hidden>
                @using (Html.BeginForm("AddBook", "Admin", FormMethod.Post))
                {
                    <table id="showtd" class="Admin_Table" border=8px Rules="cols" width="70%">
                        <tr style="font-size:20px">
                            <td align="center" style="color:#550088">ISBN</td>
                            <td align="center" style="color:#550088">書名</td>
                            <td align="center" style="color:#550088">作者</td>
                            <td align="center" style="color:#550088">出版社</td>
                            <td height="40px" align="center" style="color:#550088" s>售價</td>
                            <td align="center" style="color:#550088">數量</td>
                            <td align="center" style="color:#550088">書本圖示網址</td>
                        </tr>
                        <tr>
                            <td>
                                <input type='text' name="Book_ID" style="width:120px">
                            </td>
                            <td>
                                <input type='text' name="Book_Name" style="width:120px">
                            </td>
                            <td>
                                <input type='text' name="Book_Author" style="width:120px">
                            </td>
                            <td>
                                <input type='text' name="Book_Press" style="width:120px">
                            </td>
                            <td>
                                <input type='text' name="Book_Price" style="width:50px">
                            </td>
                            <td>
                                <input type='text' name="Book_Quantity" style="width:50px">
                            </td>
                            <td>
                                <input type='text' name="Book_Img" style="width:200px">
                            </td>
                        </tr>
                    </table>
                    <br />

                    <div style="position:relative; width:70%; ">
                        <div style="position:absolute;left:0px">
                            <input type="button" id="Back" class="Admin_btn_Purchase" value="返回" />
                        </div>
                        <div style="position:absolute;left:40%">
                            <input id="addbook" class="Admin_btn_Purchase" type="submit" value="新增" />
                        </div>
                        <div style="position:absolute;right:0px">
                            <input class="Admin_btn_Purchase" type="reset" value="清空" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div>
        <button id="PurchaseList" class="Admin_btn">進貨明細</button>
    </div>
    <br>
    <br>
    <br>
    <div>
        <button id="SaleList" class="Admin_btn">銷貨紀錄</button>
    </div>
    <br>
    <br>
    <br>
    <div>
        <button id="Book_Management" class="Admin_btn">商品管理</button>
    </div>
