@{
    if (Request.Cookies["cookie"] != null)
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
    else
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    function test(id) {
        if ($("#" + id).prop("checked")) {
            $("#text" + id).prop("readonly", false);
        } else {
            $("#text" + id).prop("readonly", true);
        }
    }
</script>

<p class="Admin_p" align="center">進銷存管理系統</p>
<div style="position: relative; width: 100%;top:50px;" >
    <div style ="position: absolute; width:100%;left:30%;">
        @using (Html.BeginForm("CheckPurchaseBook", "Admin", FormMethod.Post))
        {
            <table class="Admin_Table" border="5" width="70%" ;>
                <tr>
                    <td align="center">選擇書本</td>
                    <td align="center">ISBN</td>
                    <td align="center">書名</td>
                    <td align="center">作者</td>
                    <td align="center">出版社</td>
                    <td align="center">售價</td>
                    <td align="center">庫存數量</td>
                    <td width="12%" align="center">進貨數量</td>
                </tr>

                @for (int i = 0; i < ((List<Model.BookData>)ViewBag.GetCertainData).Count; i++)
                {
                    string TestName = "text" + @i;
                    <tr>
                        <td align="center">
                            <input type="checkbox" name="DataCheck" value="@ViewBag.GetCertainData[i].Book_ID.ToString()" id="@i" onclick="test(this.id)">
                        </td>
                        <td align="center">@ViewBag.GetCertainData[i].Book_ID.ToString()</td>
                        <td>@ViewBag.GetCertainData[i].Book_Name.ToString()</td>
                        <td>@ViewBag.GetCertainData[i].Book_Author.ToString()</td>
                        <td>@ViewBag.GetCertainData[i].Book_Press.ToString()</td>
                        <td align="center">@ViewBag.GetCertainData[i].Book_Price.ToString()</td>
                        <td align="center">@ViewBag.GetCertainData[i].Book_Quantity.ToString()</td>
                        <td>
                            <input type="text" id="@TestName" style="width:100%" readonly />
                        </td>
                    </tr>
                }
            </table>
            <br>
            <div style="position: absolute; width:100%;left:60%;top:45%">
                <input class ="Admin_btn_Purchase" type="submit" value="進貨" />
            </div>
        }

</div>

<div>
    <button class="Admin_btn" onclick="test()">進貨明細</button>
</div>
<br>
<br>
<br>
<br>
<div>
    <button class="Admin_btn" onclick="test()">銷貨紀錄</button>
</div>
<br>
<br>
<br>
<br>
<div>
    <button class="Admin_btn" onclick="test()">商品管理</button>
</div>


            
