@{
    if (Request.Cookies["cookie"] != null)
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
    else
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function checkAll() {
        if ($("#CheckAll").val() == "全選") {
            $("input[name='DataCheck']").each(function () {
                $(this).prop("checked", true);
                $("#CheckAll").val("取消全選");
            });

        } else {
            $("input[name='DataCheck']").each(function () {
                $(this).prop("checked", false);
                $("#CheckAll").val("全選");
            });
        }

        test(-1);
    }
</script>

<script>

    function test(id) {
        if (id!=-1) {
            if ($("#" + id).prop("checked")) {
                $("#text" + id).prop("readonly", false);
                $("#text" + id).show("slow");
            } else {
                $("#text" + id).prop("readonly", true);
                $("#text" + id).hide("slow");
            }
        } else {
            var i = 0;
            var Count = @Html.Raw(Json.Encode(ViewBag.Count));
            if ($("#" + i).prop("checked")) {
                for (i = 0; i < Count; i++) {
                    $("#text" + i).prop("readonly", false);
                    $("#text" + i).show("slow");
                }
            } else {
                for (i = 0; i < Count; i++) {
                    $("#text" + i).prop("readonly", true);
                    $("#text" + i).hide("slow");
                }
            }
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#Father").show();
        $("#Sale").show(1500);
        $("#SaleList").click(function () {
            $(".Admin_Home").hide("slow");
            $(".Admin_SaleList").show("slow");
            $("#Title").text("銷貨紀錄");

        });
        $("#Back").click(function () {
            $(".Admin_SaleList").hide("slow");
            $(".Admin_Home").show("slow");
            $("#Title").text("進銷存管理系統");
        });
        ///////////
        $("#PurchaseList").click(function () {
            location.href = "@Url.Action("PurchaseList", "Admin")";
        });
        $("#Book_Management").click(function () {
            location.href = "@Url.Action("Book_Management", "Admin")";
        });
        ///////////
        $("input[id='bt']").each(function () {
            $(this).click(function () {

                var text = "qq" + (this.name);
                //var text2 = "p['id = '" + text + "']";
                $("#001").slideToggle();
            });
        });
    });
</script>

<style>
    .dis2 {
        display: none;
    }
</style>

<p class="Admin_p" align="center">銷貨明細</p>
<div id="Father" style="position: relative; width: 100%;top:50px;" hidden>
    <!--開啟主頁-->
    <div style="position: absolute; width:100%;left:30%;" class="Admin_Home" hidden>
        @using (Html.BeginForm("CheckPurchaseBook", "Admin", FormMethod.Post))
        {
            <table class="Admin_Table" border="5" width="70%">
                <tr>
                    <td align="center">選擇書本</td>
                    <td align="center">ISBN</td>
                    <td align="center">書名</td>
                    <td align="center">作者</td>
                    <td align="center">出版社</td>
                    <td height="40px" align="center">售價</td>
                    <td align="center">庫存數量</td>
                    <td width="12%" align="center">進貨數量</td>
                </tr>

                @for (int i = 0; i < ((List<Model.BookData>)ViewBag.GetCertainData).Count; i++)
                {
                    string TestName = "text" + @i;
                    string TttestName = "texttt" + @i;
                    string Book_ID = ViewBag.GetCertainData[i].Book_ID.ToString();
                    <tr>
                        <td align="center">
                            <input type="checkbox" name="DataCheck" value="@ViewBag.GetCertainData[i].Book_ID.ToString()" id="@i" onclick="test(this.id)">
                        </td>
                        <td height="30px" align="center">@ViewBag.GetCertainData[i].Book_ID.ToString()</td>
                        <td>@ViewBag.GetCertainData[i].Book_Name.ToString()</td>
                        <td>@ViewBag.GetCertainData[i].Book_Author.ToString()</td>
                        <td>@ViewBag.GetCertainData[i].Book_Press.ToString()</td>
                        <td align="center">@ViewBag.GetCertainData[i].Book_Price.ToString()</td>
                        <td align="center">@ViewBag.GetCertainData[i].Book_Quantity.ToString()</td>
                        <td align="center">
                            <input type="text" name="GetPurchase" id="@TestName" style="width:50%;text-align:center;height=" 100px"" maxlength="2" readonly hidden />
                            @Html.Hidden("Book_ID", Book_ID)

                        </td>
                    </tr>
                }
            </table>
            <br>



            <div style="position:relative; width:70%; ">
                <div style="position:absolute;left:0px">
                    <input type="button" name="2" class="Admin_btn_Purchase" id="CheckAll" onclick="checkAll()" value="全選" />
                </div>
                <div style="position:absolute;right:0px">
                    <input name="34 " class="Admin_btn_Purchase" type="submit" value="進貨" />
                </div>
            </div>
        }
    </div>
    <!-- 未處理銷貨明細-->
    <div id="Sale" style="position: absolute; width:100%;left:30%;" class="Admin_SaleList" hidden>

        @using (Html.BeginForm("SaleList", "Admin", FormMethod.Post))
            {
            <table class="Admin_Table" border="5" width="70%">
                @for (int i = 0; i < ((List<List<Model.Admin>>)ViewBag.GetSaleList).Count; i++)
                {
                    string test2 = "aa" + i;
                    string test3 = "qq" + i;
                    int a = ((List<Model.Admin>)ViewBag.GetSaleList[i]).Count - 1;
                    for (int j = 0; j < a; j++)
                    {
                        for(int k=0;k<)
                        string fuck = ViewBag.GetSaleList[i][j].Book_ID.ToString();
                        //   string TestName = "text" + @i;
                        // string TttestName = "texttt" + @i;
                        int count = 0;
                        string test = i.ToString() + j.ToString();
                        <tr class="dis2">
                            <td height="30px" align="center" id="(@test@count)">@ViewBag.GetSaleList[i][j].Book_ID.ToString()</td>
                                
                            
                                
                            <td id="(@test+(@count++).ToString()")>@ViewBag.GetSaleList[i][j].Book_Name.ToString()</td>
                            <td id="(@test+(@count++).ToString()")>@ViewBag.GetSaleList[i][j].Book_Author.ToString()</td>
                            <td id="(@test+(@count++).ToString()")>@ViewBag.GetSaleList[i][j].Book_Press.ToString()</td>
                            <td align="center" id="(@test+(@count++).ToString()")>@ViewBag.GetSaleList[i][j].Book_Price.ToString()</td>
                            <td align="center" id="(@test+(@count++).ToString()")>@ViewBag.GetSaleList[i][j].Order_Quantity.ToString()</td>
                        </tr>
                        <tr>
                            <th>
                                <p class="dis" id="(@test+(@count++).ToString()")>訂單日期</p>
                            </th>
                            <td>
                                <p class="dis" id="(@test+(@count++).ToString()")>@ViewBag.GetSaleList[i][a].Order_Date.ToString()</p>
                            </td>
                            <th>
                                <p class="dis" id="@test2">客戶帳號</p>
                            </th>
                            <td colspan="3">
                                <p class="dis" id="@test2">@ViewBag.GetSaleList[i][a].Customer_Email.ToString()</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p class="dis" id="@test2">訂購人姓名</p>
                            </th>
                            <td>
                                <p class="dis" id="@test2">@ViewBag.GetSaleList[i][a].Subscriber_Name.ToString()</p>
                            </td>
                            <th>
                                <p class="dis" id="@test2">訂購人Email</p>
                            </th>
                            <td colspan="3">
                                <p class="dis" id="test">@ViewBag.GetSaleList[i][a].Subscriber_Email.ToString()</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p class="dis" id="@test2">訂購人電話</p>
                            </th>
                            <td>
                                <p class="dis" id="@test2">@ViewBag.GetSaleList[i][a].Subscriber_Cellphone.ToString()</p>
                            </td>
                            <th>
                                <p class="dis" id="@test2">訂購人地址</p>
                            </th>
                            <td colspan="3">
                                <p class="dis" id="test">@ViewBag.GetSaleList[i][a].Subscriber_Address.ToString()</p>
                            </td>
                        </tr>

                    }

                    <tr>
                        <td align="center">
                            <input type="checkbox" name="DataCheck" value="@ViewBag.GetCertainData[i].Book_ID.ToString()" id="@i" onclick="test(this.id)">
                        </td>
                        <td colspan="5">
                            <input type="button" id="bt" name="@i" style="width:100%" value="@ViewBag.GetSaleList[i][a].Order_ID.ToString()">
                        </td>
                    </tr>
                }
            </table>
                <br>
                <div style="position:relative; width:70%; ">
                    <div style="position:absolute;left:0px">
                        <input type="button" id="Back" class="Admin_btn_Purchase" value="返回" />
                    </div>
                    <div style="position:absolute;right:0px">
                        <input class="Admin_btn_Purchase" type="submit" value="更新庫存" />
                    </div>
                </div>
        }
    </div>
</div>

<div>
    <button id="PurchaseList" class="Admin_btn">進貨明細</button>
</div>
<br>
<br>
<br>
<div>
    <button id="SaleList" class="Admin_btn" onclick="test()">銷貨紀錄</button>
</div>
<br>
<br>
<br>
<div>
    <button id="Book_Management" class="Admin_btn">商品管理</button>
</div>