@{
    if (Request.Cookies["cookie"] != null)
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
    else
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="jumbotron">
    @using (Html.BeginForm("Index", "Inquire", FormMethod.Post))
    {
        <table width="100%">
            <tr>
                <td align="right"><input id="Book_Search" type="text" name="Book_Search" /></td>
                <td style="padding-left:20px;"><input type="image" src="https://68.media.tumblr.com/avatar_e71f256cf55a_128.png" onClick="document.formname.submit();" /></td>
                <td style="padding-left:190px;"><input type="image" src="https://image.9game.cn/s/y9n/g/%E6%AC%A1%E5%85%83%E5%A4%A7%E4%BD%9C%E6%88%98-%E5%86%B7%E5%8D%B4%E4%B9%A6.png" onclick="document.formname.submit();" /></td>
            </tr>
        </table>
    }
</div>

<div class="register-content">
    <table  style="border:3px #cccccc solid;" cellpadding="10" align="center">
        @for (int i = 0; i < ((List<Model.BookData>)ViewBag.result).Count; i++)
        {
            using (Html.BeginForm("Index", "ShoppingData", FormMethod.Post))
            {
                string Book_Img = ViewBag.result[i].Book_Img;
                @Html.Hidden("Book_Img",Book_Img)
                string Book_ID = ViewBag.result[i].Book_ID;
                @Html.Hidden("Book_ID", Book_ID);
                    string Book_Name = ViewBag.result[i].Book_Name;
                @Html.Hidden("Book_Name", Book_Name);
                    string Book_Price = ViewBag.result[i].Book_Price;
                @Html.Hidden("Book_Price", Book_Price);
                    int Book_Quantity = ViewBag.result[i].Book_Quantity;
                @Html.Hidden("Book_Quantity", Book_Quantity);
                    string Book_Search = ViewBag.result[i].Book_Search;
                @Html.Hidden("Search", Book_Search);
                
                <tr>
                    <td rowspan="4"  style="padding-left:30px;">
                        <img src='@Url.Content(ViewBag.result[i].Book_Img)' />
                    </td>
                    <td colspan="2">書名：@ViewBag.result[i].Book_Name</td>
                    <td rowspan="4">
                        <input type="image" src="http://icons.veryicon.com/png/Business/Ecommerce/Full%20shopping%20cart.png" onClick="document.formname.submit()" style="padding-left:100px" name="@i" value="@i" />
                    </td>
                </tr>
                <tr>
                    <td >作者：@ViewBag.result[i].Book_Author</td>
                </tr>
                <tr>
                    <td >出版社：@ViewBag.result[i].Book_Press</td>
                </tr>
                <tr style="border-bottom-style:solid ;border-width:medium ;border-color:#DDDDDD">
                    <td colspan="2">價格：@ViewBag.result[i].Book_Price</td>
                </tr>
            }
        }
    </table>
</div>
